.sad-banner {
  position: relative;
  width: 100%;
  height: auto;
  padding: .315rem .9975rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: left;
  margin-top: .315rem
}

.sad-banner div {
  padding: .315rem 0;
  font-size: 0.81rem;
  color: #656565
}

.sad-banner .title {
  font-size: 0.9975rem;
  color: #000;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  padding-bottom: 0.9375rem
}

#tag {
  display: inline-block;
  font-size: .75rem;
  color: #656565 !important;
  width: auto !important;
  height: 1.5rem;
  padding: 0 0.75rem;
  line-height: 1.5rem;
  border-radius: 1.875rem 0 0 1.875rem;
  background: #f5f5f5;
  float: right;
  margin-right: -0.9975rem;
  border: 1px solid transparent;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}

.sad-banner div {
  padding: 0 0 .315rem 0;
  width: 100%
}

.sad-banner div span.price {
  position: relative;
  color: red;
  font-size: 0.8875rem
}

.sad-banner div span.price strong {
  color: red;
  font-size: 1.5rem;
  position: relative
}

.sad-banner div span.sup {
  display: inline-block;
  color: red;
  font-size: 0.75rem;
  margin-left: .315rem;
  -webkit-transform: translateY(-85%);
  transform: translateY(-85%)
}

.sad-banner div .originprice {
  color: #656565;
  margin-left: 0.9375rem
}

.sad-banner div .del {
  color: #656565;
  font-size: 0.9375rem;
  text-decoration: line-through;
  margin-right: auto;
}

.goodInfo-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.bonus_entry {
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  top: 1.25rem;
  z-index: 15;
}

.bonus_entry img {
  width: 4.5rem
}

.price-hidden {
  display: none;
}
