.groupinfo {
  padding: 0 .3125rem;
  height: 4rem;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  border-top: .0625rem solid #dedede;
  .group_left {
    width: 70%;
    height: auto;
    font-size: .625rem;
    .avatar {
      margin-right: .625rem;
      float: left;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      img {
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 50%;
      }
    }
  }
  a {
    background: #f69f00;
    font-size: .9375rem;
    width: 5rem;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    border-radius: .625rem;
    color: #fff;
    float: right;
    position: relative;
  }
}
