.banbox {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 4.2%;
  margin: 1.25rem 0;
  .swiper-wrapper {
    li {
      width: 91.2%;
      position: relative;
      a {
        display: block;
        width: 100%;
        .swiper-img {
          display: block;
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
        .mask-bottom {
          height: 2.5rem;
          background: rgba(0, 0, 0, .5);
          border-radius: 0 0 10px 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          div {
            color: #ffffff;
            display: inline-block;
            &:first-child {
              position: absolute;
              left: .9rem;
              line-height: 2.5rem;
              max-width: 11rem;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            &:last-child {
              position: absolute;
              right: .625rem;
              padding: .625rem .75rem;
              background: #F69F00;
              border-radius:.75rem;
              line-height: .75rem;
              top: .25rem
            }
          }
        }

      }
    }
  }
}


